* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/*---FONTS---*/
/*font from https://www.dafont.com/pkmn-rbygsc.font*/
/*prepped for web using instructions from https://www.balbooa.com/knowledgebase/32-documentation-faq-joomla/176-how-to-add-custom-font-to-website-through-fontface

and using https://www.fontsquirrel.com/tools/webfont-generator*/
@font-face {
    font-family: 'pkmn_rbygscregular';
    src: 
        url('fonts/pkmn_rbygsc/pkmn_rbygsc-webfont.woff2') format('woff2'), 
        url('fonts/pkmn_rbygsc/pkmn_rbygsc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    height: 100%;
    /* font-family: 'VT323', monospace; */
    font-family: 'pkmn_rbygscregular', monospace;
}

#currentWord {
    letter-spacing: 1.2em;
}
#pokedex{
    margin: 0 auto;
    width: 100%;
}

/*----COLORS----*/

.bg-light-blue {
    background-color: #8ce7ff;
}

.bg-white {
    background-color: #fff;
}

#game {
    background-color: #2d2d2d;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    font-size: 0.8em;
}

/*----BORDERS----*/

.rounded {
    border-radius: 6px;
}

/*----SIZING----*/

.h-30 {
    height: 30%;
}

.title {
    position: relative;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

/*----POSITIONING----*/
header {
    padding: 20px;
}
.column{
    width: 49%;
    max-width: 500px;
    display: inline-block;
    height: 80%;
    background: #ff4747;
    text-align: center;
    position: relative;
    border-right: 3px solid #af2424;
    border-bottom: 6px solid #af2424;
}

.right{
    margin-left: 10px;
}
.left{
    padding: 20px;
}
.content {
    margin: 5% auto 0;
    padding-top: 10px;
    width: 80%;
    
}

.guesses {
    height: 100px;
}

#score {
    text-align: center;
}
.image-frame{
    background-color: #d8d8d8;
    height: 300px;
    width: 300px;
    margin: 20% auto 0;
}
img{
    margin: 0 auto;
    height: 80%;
}