* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/*---FONTS---*/
/*font from https://www.dafont.com/pkmn-rbygsc.font*/
/*prepped for web using instructions from https://www.balbooa.com/knowledgebase/32-documentation-faq-joomla/176-how-to-add-custom-font-to-website-through-fontface

and using https://www.fontsquirrel.com/tools/webfont-generator*/
@font-face {
    font-family: 'pkmn_rbygscregular';
    src: 
        url('fonts/pkmn_rbygsc/pkmn_rbygsc-webfont.woff2') format('woff2'), 
        url('fonts/pkmn_rbygsc/pkmn_rbygsc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    height: 100%;
    /* font-family: 'VT323', monospace; */
    font-family: 'pkmn_rbygscregular', monospace;
}

#currentWord {
    letter-spacing: 1.2em;
}

header {
    padding: 20px;
}

/*----COLORS----*/

.bg-light-blue {
    background-color: #8ce7ff;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #2d2d2d;
}

#game {
    background-color: #2d2d2d;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    font-size: 0.8em;
}

/*----BORDERS----*/

.rounded {
    border-radius: 6px;
}

/*----SIZING----*/

.h-30 {
    height: 30%;
}

.title {
    position: relative;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

/*----POSITIONING----*/

.right {
    background: #fc5555;
    text-align: center;
    height: 80%;
}

.content {
    margin-top: 5%;
}

.guesses {
    height: 100px;
}

#score {
    text-align: center;
}